<div class="container">
    <ul class="skills">
        <li>Java </li>
        <li>Python >>> <ion-icon name="logo-python"></ion-icon></li>
        <li>HTML5 & CSS3 <ion-icon name="logo-html5"></ion-icon><ion-icon name="logo-css3"></ion-icon></li>
        <li>Javascript ES6 -> <ion-icon name="logo-javascript"></ion-icon></li>
        <li>Git <ion-icon name="git-branch-outline"></ion-icon></li>
        <li>Command line $ <ion-icon name="logo-tux"></ion-icon></li>
    </ul>
    <p>*in order of experience</p>
</div>

