---
# DO NOT DELETE
---

@import "minima";

html {
    font-size: 12px;
}

body {
    background-color: black;
    color: #828282;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bitter', serif;
    color: black;
}

p {
    font-family: 'Raleway', sans-serif;
}

a:hover {
    color: yellow;
}

.container-fluid {
    padding: 0px;
}

.landing {
    height: 100vh;

    li {
        display: inline;
    }

    a {
        span {
            display: none;
        }
    }

    .svg-icon {
        fill: 828282;
        width: 25px;
        height: 25px;
    }

    @media screen and (max-width: 350px) {
        background-position: right;

        .display-1 {
            font-size: 4rem;
        }
    }

    @media screen and (min-width: 1024px) {
        background-position: center;
    }
}

.about {
    background-color: white;
    text-align: left;
    padding-top: 10vh;
    padding-bottom: 25vh;

    h1, h2, h3 {
        color: black;
        text-align: center;
        border-bottom: solid 1px;
        width: 25vh;
        margin: 3vh;
    }

    strong {
        font-weight: 1000;
        color: black;
    }

    a:hover {
        color: purple;
    }

}

.skills {
    li {
        list-style: square;

        svg {
            position: initial;
        }
    }
}

.site-footer {
    border: none;

    h1 {
        color: white;
    }

    .svg-icon {
        width: 25px;
        height: 25px;
    }
}