$headings-font-family: 'Bitter';
$font-family-base: 'Raleway';
$body-bg: #252522;
$body-color: #7cff2d;
$red: #ff5f57;
$blue: #66adcf;
$green: #7cff2d;

@import "../../node_modules/bootstrap/scss/bootstrap";